.font-weight-light{
    font-weight: lighter;
    font-size: 11px;
    width: 10%;
    padding:0;
}

img {
    width: 40px;
    height: 40px;
}

.qty {
    width: 50px;
    height: 30px;
    font-size: 12px;
}

.pi-plus {
    width: 15px;
    height: 15px;
    margin-left: -20px;
    margin-right: 10px;
}

.pi-minus {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 0px;
}

.pi-minus:hover,
.pi-plus:hover {
    color: tomato;
    background-color: pink;
    border-radius: 60px;
    border-color: tomato 1pc;
}

.link {
    font-size: 12px;
    color: blue;
}

.link:hover {
    cursor: pointer;
}

.card {
    box-shadow: 15px 10px 8px #888888;
}

.vertical {
    float: right;
    display: flex;
    flex-direction: column;
}

.border-color {
    border: #F57C00 1px solid;
    border-radius: 10px;
    background-color: #F57C00;
    color: white;
}