<div class="container-lg">
    <p-card class="card my-5">
        <div class="border-color mb-3">
            <div class="text-sm text-center offline my-2">Add new user</div>
        </div>

        <form (ngSubmit)="submit()" #f="ngForm" name="form" novalidate>
            <div class="row">
                <div class="col">
                    <input id="name" 
                        type="text"
                        placeholder="Name" 
                        pInputText
                        name="name"
                        [(ngModel)] = 'newUser.name' 
                        class="p-inputtext-sm"> 
                </div>
                <div class="col">
                    <input 
                        type="text"
                        placeholder="Surame" 
                        id="surname" 
                        pInputText
                        name="surname"
                        [(ngModel)] = 'newUser.surname' 
                        class="p-inputtext-sm">
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <input type="email" 
                        id="email"
                        placeholder="Email" 
                        pInputText
                        name="email"
                        [(ngModel)]='newUser.email'  
                        class="p-inputtext-sm">
                </div>
                <div class="col">
                    <select class="form-select form-select-sm dropdown"
                            name="roles"
                            [(ngModel)]='newUser.role'   
                            aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option *ngFor="let role of roles">{{role.name}}</option>
                    </select>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <input type="password" 
                        class="password"
                        placeholder="Password"
                        pPassword
                        name="email"
                        [(ngModel)] = 'newUser.password'   
                        id="password" 
                        [feedback]="true">
                </div>
                <div class="col">
                    <input type="password" 
                        class="password"
                        placeholder="Confirm password"
                        toggleMask="False"  
                        (keypress)="validate($event.key)"
                        pPassword id="confirm-password" 
                        [feedback]="false">
                        <label *ngIf="showErr" class="error">{{errDescription}}</label>
                </div>
            </div>

            <div class="flex-col">
                <button pButton 
                        type="submit" 
                        label={{buttonCaption}} 
                        icon="pi pi-check" 
                        class="p-button p-button-warning mx-4 mt-5">
                </button>
            </div>
        </form>
    </p-card>
</div>

<p-toast position="top-left" key="t1"></p-toast>